<div id="project_name">
	<a class="back_link" href="/projects/stack/all">Back</a>
	<div id="project_holder"><h1>Messages</h1>
		<form action="/messages/<%=@creator.id%>" method="post">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<input type="hidden" name="project_id" value="<%=@project.id%>" >
			<p><label for="message"></label>
			<textarea name="content" id="message" cols="30" rows="10"></textarea></p>
			<input class="button" type="submit" value="Send message">
		</form>
	</div>
</div>