<div id="create">
  <h3>Create User</h3>
  <form  class="log_reg_form" action="/ninjas" class="transition" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input name="ninja[first_name]" type="text" id="first_name" placeholder="First Name">
    <input name="ninja[last_name]" type="text" id="last_name" placeholder="Last Name">
    <input name="ninja[ninja_name]" type="text" id="ninja_name" placeholder="Ninja Name">
    <input name="ninja[location]" type="text" id="location" placeholder="Location">
    <input name="ninja[email]" type="email" id="email" placeholder="Email">
    <input name="ninja[password]" type="password" id="password" placeholder="Password">
    <input name="ninja[password_confirmation]" type="password" id="password_confirmation" placeholder="Confirm Password"><br>
    <input  class="button" type="submit" value="Register"> 
  </form>
  <a class="link" href="/sessions">Have an account already?</a>
</div>
