<h3>Create an account</h3>
	<form class="form-horizontal" action="/ninjas" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <p><label for="first_name">First Name</label>
    <input  name="ninja[first_name]" type="text" id="first_name" placeholder="First Name"></p>
    <p><label for="last_name">Last Name</label>
    <input  name="ninja[last_name]" type="text" id="last_name" placeholder="Last Name"></p>
    <p><label for="ninja_name">Ninja Name</label>
   	<input  name="ninja[ninja_name]" type="text" id="ninja_name" placeholder="Ninja Name"></p>
    <p><label for="ninja_name">Email</label>
    <input  name="ninja[email]" type="email" id="ninja_name" placeholder="Email"></p>
    <p><label for="password">Password</label>
    <input name="ninja[password]" type="password" id="password" placeholder="Password"></p>
    <p><label for="password_confirmation">Confirm assword</label>
    <input name="ninja[password_confirmation]" type="password" id="password_confirmation" placeholder="Confirm Password"></p>
    <input type="submit" value="Register">
</form>
<a href="/sessions">Have an account already?</a>