<div id="project_name">
	<h3>C# Projects: &nbsp; &nbsp; &nbsp; &nbsp;<a href="/projects/new" class="transition"  id="exit">Craete Projects</a></h3>
	<div id="project_holder">
		<label>Description: </label><br>
		<label>Location: </label><br>
		<label>Creator: </label><br>
		<label>Team: </label>
		<hr>

	</div>

</div>